body {
    background: url(assets/images/Untitledbilly.png);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    color: #3A3B3C;
}
.container{
    background-color: powderblue;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 48px;
    box-sizing: border-box;
}
.box{
    text-align: center;
    height: 638px;
    font-size: 36px;
}
